In [1]:
# from geopy.geocoders import Nominatim
import pandas as pd
import json 
df = pd.read_csv("./data/GlobalLandTemperaturesByCity.csv")

In [2]:
# cities = df['City'].unique()

cities = df.groupby('City').groups
print(len(cities))

3448

In [3]:
info = [['', '', '', ''] for i in range(len(cities))]

i = 0
for city, idxs in cities.items():
    row = df.iloc[idxs[0]]
    lat = str(row['Latitude'])
    lng = str(row ['Longitude'])
    
    latitude = float(lat[:len(lat) - 1])
    longitude = float(lng[:len(lng) - 1])
    
    if lat[-1] == 'S':
        latitude *= -1
    if lng[-1] == 'W':
        longitude *= -1
    
    info[i] = [city, row['Country'], latitude, longitude] 
    
    i += 1
    
output_df = pd.DataFrame(info, index=None ,columns=['City', 'Country', "Latitude", 'Longitude'])

output_df.to_csv('./data/city_locations.csv')

output_df

          City     Country  Latitude  Longitude
0     A Coruña       Spain     42.59      -8.73
1       Aachen     Germany     50.63       6.34
2      Aalborg     Denmark     57.05      10.33
3          Aba     Nigeria      5.63       8.07
4       Abadan        Iran     29.74      48.00
...        ...         ...       ...        ...
3443     Århus     Denmark     57.05      10.33
3444     Çorlu      Turkey     40.99      27.69
3445     Çorum      Turkey     40.99      34.08
3446   Öskemen  Kazakhstan     50.63      82.39
3447    Ürümqi       China     44.20      87.20

[3448 rows x 4 columns]

In [ ]:
with open("./visualization/cities.json", "w") as f:
    json.dump(info, f)